body::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

body::-webkit-scrollbar:hover {
  opacity: 1;
}

body:hover::-webkit-scrollbar {
  opacity: 1;
}

/* Nav Bar Styling */
.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  position: absolute;
  top: 0;
  right: 0;
  height: 5vh;
}

.question-mark-button {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border-color: red;
  position: absolute;
  top: 0;
  right: 0;
}

.pop-out-section {
}

.about-button,
.techstack-button,
.project-button,
.contacts-button {
  height: 5vh;
  background-color: white;
  border-color: red;
  color: red;
  border-radius: 5px;
  width: 100px;
}

.about-button:hover,
.techstack-button:hover,
.project-button:hover,
.contacts-button:hover {
  background-color: orange;
}

/* Home Page Styling */
.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 190px;
}

/* About Me Page Styling */
.about-me {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to right, red, yellow); */
}

.text {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
}

/* Tech Stack Page Styling */
.tech-stack {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: flex-end;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.javascript,
.nodeJs,
.html,
.css,
.react,
.expressJs,
.jasmine,
.postgreSQL,
.insomnia,
.git,
.prisma,
.chartJs,
.tdd,
.oop,
.vscode,
.npm,
.github {
  height: 125px;
  width: 125px;
  border: solid;
  border-radius: 25px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tdd,
.oop {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer-1:nth-child(1) {
  margin-top: 0;
}

/* Styling For All Titles On Pages */
.title {
  text-align: center;
  font-size: 50px;
  margin: 20px 0;
}

/* Project Page Styling */

.projects-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.project-card .thumbnail {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-description {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}

/* Contact Page Styling */
.contact-container {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contact-button-linkedin,
.contact-button-github,
.contact-button-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button-linkedin:hover,
.contact-button-github:hover,
.contact-button-email:hover {
  background-color: lightslategrey;
}

.contact-button-linkedin {
  background-color: lightblue;
}

.contact-button-github {
  background-color: darkgreen;
}

.contact-button-email {
  background-color: red;
}

/* To Do List: */

/* Background ? Gradual gradient from the most dark/ staurated colour as ghe scroll happenns the colour chnages 
OR blue + red gradient => red and yellow => yellow and green => green and purple so forth
creat e coherent back grouns experience  */

/* Research fonts that work together one for titled + one for chunks of text */
/* Experiment with text heights for both titles and block fo text keep to 2 options at most 3? */

/* Find icons for tech stack to insert in block */
/* Insert animation for blocks to fall from the sky when user scrolls / look into it  */

/* Write up about me text => ARGHH I don't like speaking about myself :( */
/* Need to work on descriptiions of my projects + insert github link + live page link + row of tech used */
/* Mock up a quick grid for the about the project section to set out all ^ these links  */

/* Add standard links for linkedin and github */
/* Find out how to add link for email using JSX + links */
/* Make section smaller => not loving the height of it BUT experiment with it once scroll has been added  */
