body::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

body::-webkit-scrollbar:hover {
  opacity: 1;
}

body:hover::-webkit-scrollbar {
  opacity: 1;
}

/* Nav Bar Styling */
.nav-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  height: 5vh;
}
.about-button,
.techstack-button,
.project-button,
.contacts-button {
  height: 5vh;
}

/* Home Page Styling */
.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

h1 {
  font-size: 150px;
}

/* About Me Page Styling */
.about-me {
  height: 90vh;
  background-color: green;
}

/* Tech Stack Page Styling */
.tech-stack {
  height: 90vh;
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
}

.coloumn {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  height: 90vh;
}

.layer-1,
.javascript {
  height: 125px;
  width: 125px;
  position: absolute;
  background-color: grey;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.layer-1 {
  bottom: npm run start15px;
}

.javascript {
  bottom: 145px;
}

/* Styling For All Titles On Pages */
.title {
  height: 10vh;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Project Page Styling */

.projects-container {
  height: 100vh;
  background-color: greenyellow;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.project-card .thumbnail {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-description {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.title {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
}

/* Contact Page Styling */
.contact-container {
  height: 70vh;
  background-color: brown;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
